body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
}

canvas {
  background-image: url(/finalLane.png);
  background-size: cover;
  /* background-color: black; */
}

.gameOver{
  display: none;
}

.score{
  font-size: xx-large;
  margin-right: 30px;
  background-color: antiquewhite;
  width: 100px;
  display: flex;
  align-self: center;
  justify-content: center;

}
